<div class="form-center">
    <div class="card panel panel-info shadow center">
        <div class="card-header panel-heading">{{header}}</div>
        <div class="card-body panel-body">
                <p>{{question}}</p>
        </div>
        <div class="card-footer panel-footer">
            <button type="button" class="btn btn-default left" id="btnCancel">
                {{#if buttons}} {{buttons.[0]}} {{else}} Cancel {{/if}}
            </button>
            <button type="submit" class="btn btn-{{primaryLevel}} right" id="btnOk">
                {{#if buttons}} {{buttons.[1]}} {{else}} Ok {{/if}}
            </button>
        </div>
    </div>
</div>
